.navbar {
    background-color: dimgray;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px 20px; /* Puedes ajustar esto si quieres algo de espacio interno */
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  padding: 10px; /* Relleno dentro de cada enlace */
}