
/* CSS general de elementos */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #222;
    color: white;
    font: 200 16px "Montserrat", sans-serif;

}
h2{
    font-size: 36px;
    line-height: 36px;
}
h3 {
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
section {
    padding: 10px 100px 10px 100px;
    background-color: #222;
}

p {
    text-align: justify;
}
cite{
    font-weight: 300;
}
i{
    font-size: 24px;
}
li{
    float: left;
    margin-right: 10px;
}
/* CSS ids y clases */

nav{
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: #222;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid white;
    z-index: 1000;
}
nav ul {
    list-style: none;
    display: inline-block;
    margin-top: 5px;
    font-size: 18px;
}
nav ul img{
    width: 50px;
    height: 40px;
}
#logo{
    padding: 0px;
}

#experiencia {
    background-color: white;
    color: #222;
}
.seccion {
    padding: 10px 100px 10px 100px;
}

a{
    text-decoration: none;
}
a:any-link {
    color: white;
}
a-webkit-any-link {
    color: white;
}
a-moz-any-link {
    color: white;
}
a:hover {
    color: #ffc900;
}
i:hover {
    color: #ffc900;
}
.masinfo button{
    background-color: #ffc900;
    color: #222;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
#social {
    list-style: none;
    display: flex;
    margin-top: 20px;
}
.hastag {
    color: #ffc900;
}
#portfolio {
    border-top: 1px solid #ffc900;
}
#inicio {
    padding-top: 85px;
    background-image: url("../imagenes/img-set.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
}
/*grid sobre mi*/
#aboutme {
    display: grid;
    grid-template-columns: 250px auto;
    padding-top: 75px;
}
#aboutme h2{
    margin-bottom: 15px;
}
#aboutme .masinfo{
    margin-top: 15px;
    float: left;
}
#aboutme .masinfo button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
}
/*Card portfolio*/
#portfolio {
    padding-top: 75px;
    padding-bottom: 50px;
}
#portfolio h2{
    margin-bottom: 55px;
    text-align: center;
}
.filaportfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card{
    width: 250px;
    background-color: #191919;
    border-radius: 15px;
    margin-right: 50px;
}
.card img,.card video,.card iframe{
    border-radius: 15px 15px 0 0;
}
.card h3{
    color: #ffc900;

}
.card h4{
    margin:0 5px 5px 0;
}
.card h3,.card h4,.card p,.card .masinfo{
    padding: 0 15px;
}
.card .masinfo {
    margin: 15px 0px 15px 0px;
    height: 26px;
}

.card .sep{
    margin: 0 5px 5px 0;
    border: 1px solid #ffc900;
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
    border: 2px solid #ffc900;
    position: relative;
    z-index: 1;
}
.card button{
    float: right;
}
/*Card experiencia*/
#experiencia {
    padding-top: 75px;
    padding-bottom: 50px;
}
#experiencia h2{
    margin-bottom: 25px;
    text-align: center;
}
.gridexp{
    display: grid;
    grid-template-columns: repeat(3,350px);
    justify-content: space-between;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}
/*@media (min-width: 400px){
    .gridexp{
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px 10px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}*/

.cardexp{
    background-color: #222;
    border-radius: 15px;
    color: white;
    padding: 10px 5px;
}
.cardexp h2{
    margin-bottom: 5px;
}
.cardexp h3{
    margin-bottom: 20px;
}
.cardexp p{
    margin-bottom: 20px;
}
.cardexp ul{
    display: flex;
    justify-content: flex-end;
}
.cardexp li{
    height: 30px;
    list-style: none;
}

#contacto {
    background-color: #ffc900;
    color: #222;
    /*background-image: url("../imagenes/fondo_contactar.png");*/
    padding-bottom: 50px;
    border-top: 1px solid #222;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#contacto .itemform{
    display: grid;
    grid-template-columns: 150px 350px;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}
.itemform input, .itemform textarea{
    border-radius: 5px;
    border: 1px solid #222;
}
input[type="submit"]{
    background-color: #222;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    grid-column: 2/3;
    justify-self: end;
}